@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .heading-1 {
    @apply text-6xl leading-[15rem] maglite uppercase tracking-[0.2em];
  }
  .heading-2 {
    @apply text-5xl leading-[9rem] maglite uppercase tracking-[0.2em];
  }
  .heading-3 {
    @apply text-4xl leading-[6rem] maglite uppercase tracking-[0.2em];
  }
  .heading-4 {
    @apply text-3xl leading-[4.5rem] maglite uppercase tracking-[0.2em];
  }
  .heading-5 {
    @apply text-2xl leading-[3rem] maglite uppercase tracking-[0.2em];
  }
  .heading-6 {
    @apply text-lg leading-[1.5rem] maglite uppercase tracking-[0.2em];
  }
  .heading-7 {
    @apply text-sm leading-[1rem] maglite uppercase tracking-[0.2em];
  }
  .price {
    @apply text-xl leading-[2.25rem] lato uppercase;
  }
  .button-lg {
    @apply text-base leading-[1.5rem] lato uppercase tracking-[0.7em];
  }
  .button-md {
    @apply text-base leading-[1.5rem] lato uppercase tracking-[0.4em];
  }
  .button-sm {
    @apply text-sm leading-[1.125rem] lato uppercase tracking-[0.4em];
  }
  .body-md {
    @apply text-base leading-[1.5rem] lato uppercase;
  }
  .body-sm {
    @apply text-sm leading-[1.125rem] lato uppercase;
  }
}

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply bg-neutral-1 w-full h-screen;
  }
}

@font-face {
  font-family: Maglite;
  src: url(/fonts/MAGLITE.TTF);
}

.maglite {
  font-family: Maglite;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/LATO-REGULAR.TTF);
}

.lato {
  font-family: Lato;
}

.swiper-wrapper {
  transition-timing-function: linear;
}